<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Project Title{% endblock %}</title>
    
    <!-- Load static files -->
    {% load static %}
    
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>
<body>
    
    <main>
        <!-- Centralized wrapper class for content -->
        <div class="center-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <header>
        <h1 style="text-align:center">Navigation</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'global-feed' %}">Global Feed</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'live-events' %}">Live Events</a></li>
            </ul>
        </nav>
    </header>

    <footer style="text-align:center">
        <p>&copy; 2024 ArtKhoj</p>
    </footer>
</body>
</html>
