{% extends 'users/base.html' %}
{% load static %}


{% block content %}

<div class="global-feed-container"> 

<h1>Global Feed</h1>

<!-- Filter Form -->
<div class="filter-container">
<form method="get" action="{% url 'global-feed' %}">
    <div class="dropdown-filter">
    <label for="id_professions">Filter by Profession:</label>
    <select name="professions" id="id_professions">
        <option value="">-- All --</option>
        {% for value, label in profession_filter_form.fields.professions.choices %}
            <option value="{{ value }}" {% if value in profession_filter_form.cleaned_data.professions %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select>
</div>
    <button type="submit">Apply Filter</button>
</form>
</div>

<!-- Display Filtered Profiles -->
{% for profile in profiles %}
<div class="profile-header-global">
    <div class="profile-picture-container">
        <a href="{% url 'profile-detail' profile.user.id %}" class="profile-link">
        {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile picture" />
        {% else %}
        <img src="{% static 'users/images/default-avatar.png' %}" alt="{{ profile.user.username }}'s profile picture" />
        {% endif %}
            <p><strong>{{ profile.user.username }}</strong></p>
            <p>{{ profile.profession }}</p>
        </a>

    </div>
</div>
{% empty %}
<p>No users found for the selected profession.</p>
{% endfor %}

    <!-- Pagination controls -->
    {% if profiles.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if profiles.has_previous %}
                <a href="?page={{ profiles.previous_page_number }}{% if selected_profession %}&professions={{ selected_profession }}{% endif %}">
                    Previous
                </a>
            {% endif %}

            <span>Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}</span>

            {% if profiles.has_next %}
                <a href="?page={{ profiles.next_page_number }}{% if selected_profession %}&professions={{ selected_profession }}{% endif %}">
                    Next
                </a>
            {% endif %}
        </div>
    {% endif %}

</div>

{% endblock %}




